/* Reset básico para quitar márgenes feos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #007bff;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1; /* Esto empuja el footer hacia abajo */
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.post-preview {
    background: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border-left: 5px solid #3498db;
    transition: transform 0.1s;
}

.post-preview:hover {
    transform: translateX(2px);
}