/* Reset básico para quitar márgenes feos 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {
  font-family: "Inter", "Helvatica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  color: #333;
  background: #fafafa;
  margin: 1;

}

header {
    background: #007bff;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

main {
   max-width: 750px;
   margin: 0 auto;
   padding: 0 20px;
}

.post-preview {
    background: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border-left: 10px solid #3498db;
    transition: transform 0.1s;
}

.post-preview:hover {
    transform: translateY(1px);
}

img{
    max-width: 100%;
    border-radius: 10px;
    margin: 25px 0;
    display: block;
    

}

h1{
    font-size: 2.4rem;
    margin-bottom: 10px;
    font-weight: 700;
}

h2{
    font-size: 1.6rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3{
    font-size: 1.3rem;
    margin-top: 30px;
}

p{
    margin-bottom: 1.2em;
}

blockquote {
  border-left: 4px solid #4a90e2;
  padding-left: 16px;
  color: #555;
  font-style: italic;
  margin: 25px 0;
}

a {
    color: #2a6df4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-header{
    margin-bottom: 30px;
}

article{
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}